<?xml version="1.0"?>
<launch>
 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="10" />
  </node>

  <node pkg="joy_teleop" type="joy_teleop" name="joy_teleop" output="screen">
  	<param name="max_ang_vel" type="double" value="10.0" />
  	<param name="cmd_topic" value="/cmd_vel"/>
  </node>
</launch>